@import url(http://fonts.googleapis.com/css?family=Orbitron:500)

bgColor = red//#6F7C91 
titleColor = #1C1F24
pageColor = #1C1F24
shadowColor = #FFFFFF

fontColor = #DBDEE3
fontSize = 14px
fontFamily = 'Orbitron', sans-serif
fontShadow = #FFD42A