// Font variables
fontColor = #333
fontSize = 12px
fontFamily = Verdana, sans-serif

radius = 4px
borderColor = #ccc
shadowColor = #ccc
bgColor = #fff
hoverColor = darken(#fff, 8%)
inactiveColor = darken(#fff, 20%)
disabledColor = darken(#fff, 40%)
focusColor = #75B9F0
errorColor = lighten(orange, 20%)
selectedColor = darken(#EBF8FC, 10%)
altColor = #EDF1FA
dropColor = lighten(focusColor, 20%)
successColor = lighten(green, 10%)