// Common variable
imageDim = 75px
loadablePadding = 2px

.map-widget 
  margin 10px
  font-size 0
  box-sizing border-box
  overflow hidden
  position relative
    
  .map-perspective
    perspective 600px
    position absolute
    display block
  
    > *:not(.menu)
      position absolute
    > .fields
      padding-left 0

    .hover
    .selection
      opacity 0.5

.item-widget
  position absolute
  overflow hidden
  padding 0
  
  > div
    width 100%
    height 100%
  
.property-widget

  &.array .item-widget
    display inline-block
    position relative